/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}
#chat-i{
  display: block;
}
.nav__link-chat {
  flex-direction: row;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  color: white;
  display: flex;
  background-image: linear-gradient(to right, red, rgb(0, 0, 255));
  align-items: center;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}
/* #chatbox{

} */
/*=============== HEADER ===============*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    z-index: var(--z-fixed);
    transition: .4s;
}
/*=============== profile side bar ===============*/
#btn-logout {
  background: #0000;
  border: 4px solid red;
  bottom: 0;
  color: red;
  font-size: 22px;
  font-weight: 700;
  left: 0px;
  padding: 10px 40px;
  position: fixed;
  width: 400px;
}
.offcanvas-header {
  align-content: center;
  align-items: center;
  border-bottom: 2px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
.offcanvas-title {
  margin-bottom: 0;
  line-height: 1.5;
  display: flex;
  column-gap: 15px;
  font-size: 22px;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
i#user-offcanvas {
  font-size: 30px;
}
/*=============== end ===============*/
/*===============card start ===============*/
/* ID Card Container */
.id-card-container {
  display: flex;
  justify-content: center;
}
h2.head-ID {
  padding: 20px 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 18px;
  color: gray;
  border-bottom: 2px solid #cccccc;
  margin-bottom: 10px;
}

.id-card {
  width: 100%;
  max-width: 225px;
  margin-top: 5rem;
  padding: 15px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 4px solid #d6d6d6;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
}
.card-content-btn {
  border-top: 2px solid #cccccc;
  margin-top: 10px;
}
/* Header Section with Logo */
.card-header {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.company-logo {
  width: 225px;
  /* height: auto;
  border-radius: 50%; */
}
img.company-logo {
  width: 225px;
  position: absolute;
  top: 62px;
}

/* Content Section */
.card-content-ID {
  display: flex;
  row-gap: 8px;
  flex-direction: column;
  align-items: center;
}
.other-opt-btn {
  margin-top: 15px;
}
button.btn-ID {
  margin: 0px;
  margin-top: 10px;
  padding: 8px 18px;
  width: 100%;
  color: #007bff;
  background: none;
  border: 3px solid #007bff;
}

.name {
  font-size: 1.5em;
  font-weight: bold;
  margin: 5px 0;
}

.role, .prn {
  font-size: 1em;
  margin: 2px 0;
}

/* Responsive Design */
@media (max-width: 600px) {
  .id-card {
    padding: 8px;
  }

  .name {
    font-size: 1.3em;
  }

  .role, .prn {
    font-size: 0.9em;
  }
}
/*===============card end ===============*/

/*=============== NAV ===============*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__img{
        width: 32px;
        border-radius: 50%;
    }
    &__logo{
        color: var(--title-color);
        font-weight: 600;
    }

    @media screen and (max-width: 767px){
        &__menu{
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: var(--container-color);
            box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
            width: 100%;
            height: 4rem;
            padding: 0 1rem;
            display: grid;
            align-content: center;
            border-radius: 1.25rem 1.25rem 0 0;
            transition: .4s;
        }
    }

    &__list,
    &__link{
        display: flex;
    }

    &__link{
        flex-direction: column;
        align-items: center;
        row-gap: 4px;
        color: var(--title-color);
        font-weight: 600;
    }

    &__list{
        justify-content: space-around;
    }
    &__name{
        font-size: var(--tiny-font-size);
    }
    &__icon{
        font-size: 1.5rem;
    }
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */

@media screen and (max-width: 320px){
    .nav__name{
        display: none;
    }
}

/* For medium devices */
@media screen and (min-width: 576px){
    .nav__list{
        justify-content: center;
        column-gap: .8rem;
    }
}

@media screen and (min-width: 767px){
    body{
        margin: 0;
    }

    .section{
        padding: 7rem 0 2rem;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem); 

        &__img{
            display: none;
        }
        &__icon{
            display: none;
        }
        &__name{
            font-size: var(--normal-font-size);
  
        }
        &__link:hover{
            color: var(--first-color);
        }
    }


    .active-link::before{
        content: '';
        position: absolute;
        bottom: -.75rem;
        width: 4px;
        height: 4px;
        background-color: var(--first-color);
        border-radius: 50%;
    }
    
}

:root{
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;

  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;

  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  @media screen and (min-width: 968px){
      --h1-font-size: 2.25rem;
      --normal-font-size: 1rem;
  }

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
.section{
  padding: 4.5rem 0 2rem;

  &__title{
      font-size: var(--h1-font-size);
      color: var(--title-color);
      text-align: center;
      margin-bottom: 1.5rem;
  }
  &__height{
      height: 100vh;
  }
}

/*=============== LAYOUT ===============*/
.container-nav{
  max-width: 95%;
  margin-left: 1rem;
  margin-right: 1rem;
}
/* For large devices */
@media screen and (min-width: 1024px){
    .container-nav{
        margin-left: auto;
        margin-right: auto;
    }
}

/*Active link*/
.active-link{
    position: relative;
    color: var(--first-color);
    transition: .3s;
}

/* Change background header */
.scroll-header{
    box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul{
  list-style: none;
  margin-bottom: 0px;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    padding-top: 20px;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
}

.nav__list, 
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.nav__list {
  justify-content: space-around;
  display: flex;
  align-items: center;
  
}

.nav__name {
  font-size: var(--tiny-font-size);
  /* display: none;*/ /* Minimalist design, hidden labels */
}


.nav__icon {
  font-size: 1.5rem;
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
  font-size: var(--normal-font-size);
  padding: 5px 12px;
  background: #ccfffa;
  border-radius: 10px;
}
/* .active, .nav__name {
  font-size: var(--normal-font-size);
  padding: 5px 18px;
  background: #ccfffa;
  border-radius: 10px;
} */

/* Minimalist design, active link */
/* .active-link::before{
  content: '';
  position: absolute;
  bottom: -.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
} */

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
    padding: 5px 18px;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 1rem;
  }
}
@media screen and (max-width: 767px) {
.nav__link-chat {
  flex-direction: row;
  row-gap: 6px;
  /* width: 100px; */
  column-gap: 10px;
  color: var(--title-color);
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  color: white;
  position: absolute;
  bottom: 60px;
  right: 0px;
  display: flex;
  background-image: linear-gradient(to right, red, rgb(0, 0, 255));
  align-items: center;
}
}
/* @media (min-width: 600px) and (max-width: 900px) {
  .nav__name {
    font-size: 6px;
     padding: 5px 18px;
     /* display: block;
      */ /* Minimalist design, visible labels */
   
@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__icon-new {
    display: flex;
  }
  .nav__name {
   font-size: 12px;
    padding: 5px 12px;
    /* display: block;
     */ /* Minimalist design, visible labels */
  }
  .nav__link:hover {
    color: var(--first-color);
  }

  /* First design, remove if you choose the minimalist design */
  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }

  /* Minimalist design */
  /* .active-link::before{
      bottom: -.75rem;
  } */
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
/* More Button Styling */
/* Unique CSS for Dropdown Menu */
.more-button {
  background: transparent;
  border: none;
  margin: 0px;
  cursor: pointer;
  color: var(--title-color);
  display: flex;
  /* padding: 5px 12px; */
  align-items: center;
  font-weight: 600;
  padding: 0;
}
.more-button:hover {
  background-color: #ccfffa;
  padding: 5px 12px;
}

.dropdown-menu {
  position: absolute;
  top: calc(var(--header-height) + 10px);
  background: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 1rem;
  display: none;
  flex-direction: column;
  width: 220px;
  z-index: var(--z-fixed);
}

.nav__item:hover .dropdown-menu {
  display: flex;
  width: 220px;
}

.dropdown-item {
  padding: 8px 12px;
  font-size: var(--normal-font-size);
  color: var(--text-color);
  transition: background 0.3s ease;
  border-radius: 4px;
}

.dropdown-item a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: var(--first-color-alt);
  color: white;
}
#more-button-new {
    display: flex;
    flex-direction: row;
}
#profile-button-new {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  background: #d6fefa;
  border-radius: 10px;
  font-size: 1.5rem;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0px;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 5rem;
    padding: 0 1rem;
    padding-top: 20px;
    display: grid;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
}
  .dropdown-menu {
    bottom: calc(var(--header-height) + 60px);
    top: auto;
    right: 10px;
    width: 200px;
  }
  .nav__icon-new {
    font-size: 1.5rem;
}
    #more-button-new {
      display: flex;
      margin: 0px 10px;
      flex-direction: column;
  
    }
    .more-button:hover {
      background-color: #ccfffa;
      padding: 5px 12px;
  }
    #profile-button-new {
      display: flex;
      flex-direction: column;
      padding: 6px 8px;
      background: #d6fefa;
      border-radius: 10px;
      font-size: 1rem;
  }

  .nav__item {
    position: relative;
  }
  .nav__item:hover .dropdown-menu {
    display: flex;
    width: 200px;
  }

  .nav__item .dropdown-menu {
    right: 10px;
    width: 220px;
    bottom: 65px;
    display: none;
    background-color: var(--container-color);
    border-radius: 0.75rem;
    padding: 0.5rem;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
  }
}
